# Tell Linguist not to include the following code
# in statistics about this repo
#
src/Parsec/* linguist-vendored
src/tcltk/tcltk8.5.4/* linguist-vendored
src/tcltk/itcl3.4/* linguist-vendored
src/tcltk/itk3.4/* linguist-vendored
