name: CI

# Trigger the workflow on push or pull request
on: [ push, pull_request ]

jobs:
  build-check:
    name: "Check: code cleanliness"
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Check tabs and whitespace
        shell: bash
        run: ".github/workflows/check_whitespace.sh"

  build-ubuntu:
    strategy:
      matrix:
        os: [ ubuntu-16.04, ubuntu-18.04, ubuntu-20.04 ]
    name: "Build: ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
      - name: Install dependencies
        shell: bash
        run: "sudo .github/workflows/install_dependencies_ubuntu.sh"
      # Restore previous ccache cache of compiled object files. Use a SHA
      # in the key so that a new cache file is generated after every build,
      # and have the restore-key use the most recent.
      - name: CCache cache files
        uses: actions/cache@v2
        with:
          path: ${{ GITHUB.WORKSPACE }}/ccache
          key: ${{ matrix.os }}-ccache-${{ github.sha }}
          restore-keys: |
            ${{ matrix.os }}-ccache-
      - name: Build
        env:
          CCACHE_DIR: ${{ GITHUB.WORKSPACE }}/ccache
        run: |
          ccache --zero-stats --max-size 250M
          export PATH=/usr/lib/ccache:$PATH
          make -j3 GHCJOBS=2 GHCRTSFLAGS='+RTS -M5G -A128m -RTS'
          tar czf inst.tar.gz inst
      - name: CCache stats
        env:
          CCACHE_DIR: ${{ GITHUB.WORKSPACE }}/ccache
        run: ccache --show-stats
      - name: Smoketest
        run: "make check"
      # Check that .ghci has all the right flags to load the source.
      # This is important for text editor integration & tools like ghcid
      # NB stp, yices and htcl must be built first, so do this after Build.
      - name: Check GHCI :load
        run: |
          cd src/comp
          export NOGIT=0
          export NOUPDATEBUILDVERSION=0
          ./update-build-version.sh
          ./update-build-system.sh
          echo ':load bsc.hs' | ghci 2>&1 | tee ghci.log
          if grep '\(Failed\|error:\)' ghci.log
          then
            echo "GHCi reported errors."
            exit 1
          else
            echo "GHCi loaded successfully."
            exit 0
          fi
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: ${{ matrix.os }} build
          path: inst.tar.gz

  build-macOS:
    strategy:
      matrix:
        os: [ macos-10.15 ]
    name: "Build: ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
      - name: Install dependencies
        shell: bash
        run: ".github/workflows/install_dependencies_macos.sh"
      # Restore previous ccache cache of compiled object files. Use a SHA
      # in the key so that a new cache file is generated after every build,
      # and have the restore-key use the most recent.
      - name: CCache cache files
        uses: actions/cache@v2
        with:
          path: ${{ GITHUB.WORKSPACE }}/ccache
          key: ${{ matrix.os }}-ccache-${{ github.sha }}
          restore-keys: |
            ${{ matrix.os }}-ccache-
      - name: Build
        env:
          CCACHE_DIR: ${{ GITHUB.WORKSPACE }}/ccache
        run: |
          ccache --zero-stats --max-size 250M
          export PATH=$(brew --prefix)/opt/local/ccache/libexec:$PATH

          # Hack: Remove incompatible TCL header that something has installed
          # in /usr/local/include in the GitHub CI image. This dir is at the
          # start of the compiler's default search path, and overrides the
          # system tcl.h, and causes a linker failure (because of a macro that
          # renames Tcl_Main to Tcl_MainEx). We want to build against the
          # system TCL so we don't introduce any extra deps for the bluetcl
          # binary.
          rm -f /usr/local/include/tcl.h

          make -j3 GHCJOBS=2 GHCRTSFLAGS='+RTS -M4500M -A128m -RTS' MACOSX_DEPLOYMENT_TARGET=10.13
          tar czf inst.tar.gz inst
      - name: CCache stats
        env:
          CCACHE_DIR: ${{ GITHUB.WORKSPACE }}/ccache
        run: ccache --show-stats
      - name: Smoketest
        run: "make check"
      # Check that .ghci has all the right flags to load the source.
      # This is important for text editor integration & tools like ghcid
      # NB stp, yices and htcl must be built first, so do this after Build.
      - name: Check GHCI :load
        run: |
          cd src/comp
          export NOGIT=0
          export NOUPDATEBUILDVERSION=0
          ./update-build-version.sh
          ./update-build-system.sh
          echo ':load bsc.hs' | ghci 2>&1 | tee ghci.log
          if grep '\(Failed\|error:\)' ghci.log
          then
            echo "GHCi reported errors."
            exit 1
          else
            echo "GHCi loaded successfully."
            exit 0
          fi
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: macos-10.13+ build
          path: inst.tar.gz
